@import url("https://fonts.cdnfonts.com/css/harry-potter");

body {
   height: 100vh;
}


header img {
   max-width: 400px;
}

.title {
   font-family: "Harry Potter", serif;
}

main {
   max-width: 900px;
   margin: 0 auto;
}


input[type='radio'] {
   accent-color: var(--bs-warning);
}

@media(max-width: 480px) {
   header img {
      max-width: 300px;
   }

   .title {
      font-size: 2rem;
   }
}


::-webkit-scrollbar {
   width: 10px;
}

::-webkit-scrollbar-track {
   background-color: var(--bs-gray-dark);
}


::-webkit-scrollbar-thumb {
   background: var(--bs-dark);
}


::-webkit-scrollbar-thumb:hover {
   background: var(--bs-warning);
}