@import url("https://fonts.cdnfonts.com/css/harry-potter");    

:root {
   --bs-blue: #0d6efd;
   --bs-indigo: #6610f2;
   --bs-purple: #6f42c1;
   --bs-pink: #d63384;
   --bs-red: #dc3545;
   --bs-orange: #fd7e14;
   --bs-yellow: #ffc107;
   --bs-green: #198754;
   --bs-teal: #20c997;
   --bs-cyan: #0dcaf0;
   --bs-white: #fff;
   --bs-gray: #6c757d;
   --bs-gray-dark: #343a40;
   --bs-primary: #0d6efd;
   --bs-secondary: #6c757d;
   --bs-success: #198754;
   --bs-info: #0dcaf0;
   --bs-warning: #ffc107;
   --bs-danger: #dc3545;
   --bs-light: #f8f9fa;
   --bs-dark: #212529;

   --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
 }

body {
      height: 100vh;
   }

header img{
  width: 400px;
}

.title {
  font-family: "Harry Potter";
}

main {
  max-width: 900px;
  margin: 0 auto;
}

::-webkit-scrollbar {
   width: 10px;
 }
 
 ::-webkit-scrollbar-track {
   background-color: var(--bs-gray-dark);
 }
 

 ::-webkit-scrollbar-thumb {
    background: var(--bs-dark);
}


::-webkit-scrollbar-thumb:hover {
    background: var(--bs-warning);
 }